.header {
    min-height: 420px;
    width: 100%;
    margin: 30px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    padding: 40px 60px;
    box-sizing: border-box;
}

.header-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 50%;
    animation: fadeIn 3s;
    z-index: 2;
}

.header-contents h2 {
    font-weight: 600;
    font-size: max(4vw, 28px);
    color: white;
    margin: 0;
    line-height: 1.2;
}

.header-contents p {
    color: white;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

.header-contents button {
    border: none;
    cursor: pointer;
    color: #747474;
    font-weight: 500;
    padding: 12px 24px;
    background-color: white;
    font-size: 16px;
    border-radius: 50px;
}

@media (max-width: 1050px) {
    .header {
        min-height: 350px;
        padding: 30px 40px;
    }

    .header-contents {
        max-width: 60%;
    }
}

@media (max-width: 750px) {
    .header {
        min-height: 260px;
        padding: 20px 25px;
        border-radius: 15px;
    }

    .header-contents {
        max-width: 80%;
        gap: 12px;
    }

    .header-contents h2 {
        font-size: 24px;
    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 10px 18px;
        font-size: 14px;
    }
}